<a href="https://colab.research.google.com/github/khagerthey/VIS1/blob/main/Merging_Sources.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

My research mission is to investigate the glass breakages at this facility. Our largest production line is Line 3, so this current data is reflective of glass coming from that line. I believe that it is likely that the glass breakages are building up to be our most cost driven issue. From what I have seen it is only growing and I believe that it is due to thermal shock resulting from the way Chelten House handles and stores their glass. 

I will be looking at the glass breakage forms from the production lines, this will give me an estimate of amount and time. I will also resource daily downtime reports from operations and the warehouse’s glass count sheets. The downtime reports will allow me to analyze how much time is lost due to glass breakages and QA process in total compared to other issues. The glass count sheets will show me how much glass we lose in storage and/or if it is being shipped to us already damaged.

--

This assignment I will be investigating the possible solution of substituting our glass jars for plastic. Plastic is a cheaper alternative, more durable, and requires less maintenance. Plastic would eliminate the glass-breakage problem entirely, or at least reduce it significantly if it were only partially transitioned to replace the most breakable glass. Although, plastic is less environmentally friendly and may upset our environmentally conscious consumers.

I will be using three sources for this assignment. My first source is a Scientific Status Summary, which provided information regarding food packaging and the qualities associated with each.
For reference: 
https://www.researchgate.net/publication/5850700_Food_PackagingRoles_Materials_and_Environmental_Issues

Second sources provided price percentage increase throughout the year:
Glass- https://data.nasdaq.com/data/FRED/PCU32723272-producer-price-index-by-industry-glass-and-glass-product-manufacturing
Plastic- https://data.nasdaq.com/data/FRED/ID3923-export-harmonized-system-plastic-articles-for-conveyence-of-packing-goods-discontinued

My third source comes from my current employer. This is an excel daily glass log that I am using to get an idea of how much glass vs. plastic jars we use for our products. I feel like this will provide insight on how big of a transition it would be to subsitute glass for plastic packaging.
*Will be linking later*

In [12]:
import time, os, sys, re 
import zipfile, json, datetime, string 
import numpy as np
from statistics import *

import matplotlib.pyplot as plt 
import pandas as pd
import pandas_datareader as pdr
from pandas_datareader import wb
from pandas.io.formats.style import Styler

import urllib                                               

from google.colab import files

import webbrowser                                                                      
import folium as f                                                                     
from folium.plugins import MarkerCluster, HeatMap                                      

import seaborn as sns

from google.colab import data_table
data_table.enable_dataframe_formatter()

from IPython.core.interactiveshell import InteractiveShell
InteractiveShell.ast_node_interactivity = "all"

In [ ]:
urllib.request.urlretrieve("https://drive.google.com/file/d/1qLm7mVSqbQNhyBGdER4R3F0My1fQcRWI/view?usp=share_link", "Materials Generated and Discarded in the Municipal Waste Stream in 2005.cvs")

('Materials Generated and Discarded in the Municipal Waste Stream in 2005.cvs',
 <http.client.HTTPMessage at 0x7fc63bc14a90>)

In [ ]:
!pwd
!ls

/content
'Materials Generated and Discarded in the Municipal Waste Stream in 2005.cvs'
 sample_data

In [15]:
a=pd.read_excel("https://github.com/khagerthey/VIS1/raw/main/Line%203%20Glass%20Yield%20Loss%20.xlsx")

In [16]:
a.head(2)

Warning: Total number of columns (21) exceeds max_columns (20). Falling back to pandas display.

,Spec Cost ID,Reason Code,Tran Date,Unnamed: 3,Unnamed: 4,UOM,Conv Factor,Unit Cost,Unit Price,Journal Type,...,Subaccount,Debit Amt,Credit Amt,Unnamed: 14,Unnamed: 15,Unnamed: 16,Unnamed: 17,Unnamed: 18,Unnamed: 19,Unnamed: 20
0,Transaction Type:,Adjustment,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaT,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Batch,Ref #,Transaction type,left of desc,Desc,Site,Whse Bin,NaN,Reason code,NaT,...,UOM,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [13]:
dat=pd.read_csv('https://raw.githubusercontent.com/khagerthey/VIS1/main/Properties%2C%20Environmental%20Issues%2C%20and%20Cost%20for%20Packaging%20Materials%20(1).csv')

In [14]:
dat.head(3)

,"Weight of Products Generated in MSW From 1960 to 2005, with Detail on Containers and Packaging",Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8
0,Product,Weight (Million Tons),NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,1960,1970.0,1980.0,1990.0,2000.0,2003.0,2004.0,2005.0
2,Durable Goods,9.9,14.7,21.8,29.8,36.8,39.4,39.9,40.3

In [ ]:
urllib.request.urlretrieve('https://drive.google.com/file/d/1sEwtlelsOGG0cD8ljTcbXexoLYsQoaA6/view?usp=sharing','Properties, Environmental Issues, and Cost for Packaging Materials.csv')

('Properties, Environmental Issues, and Cost for Packaging Materials.csv',
 <http.client.HTTPMessage at 0x7fc6337f3250>)

In [ ]:
pd.read_csv=('Properties, Environmental Issues, and Cost for Packaging Materials.csv')

In [8]:
dat=pd.read_csv('https://raw.githubusercontent.com/khagerthey/VIS1/main/Properties%2C%20Environmental%20Issues%2C%20and%20Cost%20for%20Packaging%20Materials%20(1).csv')

In [11]:
#dat.dtypes
dat.head(2)

,"Weight of Products Generated in MSW From 1960 to 2005, with Detail on Containers and Packaging",Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8
0,Product,Weight (Million Tons),NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,1960,1970.0,1980.0,1990.0,2000.0,2003.0,2004.0,2005.0

In [9]:
dat[["Product Characteristics/Food Compatibility","Cost"]][0:3]

KeyError: ignored